<div class="login-container">
  <div class="form-card">
    <h2>Login</h2>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Digite seu email"
        />
        <div
          class="validation-error"
          *ngIf="
            loginForm.get('email')?.invalid && loginForm.get('email')?.touched
          "
        >
          <span *ngIf="loginForm.get('email')?.errors?.['required']"
            >Email é obrigatório</span
          >
          <span *ngIf="loginForm.get('email')?.errors?.['email']"
            >Por favor, insira um email válido</span
          >
        </div>
      </div>

      <div class="form-group">
        <label for="password">Senha</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Digite sua senha"
        />
        <div
          class="validation-error"
          *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
          "
        >
          <span *ngIf="loginForm.get('password')?.errors?.['required']"
            >Senha é obrigatória</span
          >
          <span *ngIf="loginForm.get('password')?.errors?.['minlength']"
            >A senha deve ter pelo menos 6 caracteres</span
          >
        </div>
      </div>

      <button
        type="submit"
        class="btn-primary"
        [disabled]="loginForm.invalid || isLoading"
      >
        <span *ngIf="isLoading">Carregando...</span>
        <span *ngIf="!isLoading">Entrar</span>
      </button>
    </form>

    <div class="form-footer">
      <p>
        Não tem uma conta?
        <a href="javascript:void(0)" (click)="navigateToRegister()"
          >Registre-se aqui</a
        >
      </p>
    </div>
  </div>
</div>
